/* Dashboard.module.css */
.dashboardRoot {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f9fafb;
  overflow-x: hidden;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

.layoutContainer {
  display: flex;
  flex-grow: 1;
}

/* Default for larger screens */
.mainContentArea {
  flex: 1; /* Take remaining space */
  padding: 20px 24px;
  margin-left: 320px; /* Account for the fixed sidebar's width */
  transition: margin-left 0.3s ease-in-out; /* Smooth transition for margin */
}

/* Adjust for smaller screens where sidebar slides out */
@media (max-width: 900px) {
  .mainContentArea {
    margin-left: 0; /* No margin on small screens, sidebar will overlay */
    width: 100%; /* Take full width */
    padding-top: 60px; /* Add padding to account for the hamburger button and potential top bar */
  }
}